:root {
  font-size: calc(0.5em + 1vw);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon-close {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
}
.icon-close .strip-one {
  width: 100%;
  height: 3px;
  background-color: #1e1e1e;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.icon-close .strip-one::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #1e1e1e;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.icon-menu {
  width: 35px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  cursor: pointer;
}
.icon-menu .strip-first, .icon-menu .strip-middle, .icon-menu .strip-second {
  width: 100%;
  height: 3px;
  background-color: #1e1e1e;
  border-radius: 3px;
}

body {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.nav {
  width: 100%;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 3;
}

.navbar {
  background-color: #11f2ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 5px;
}
@media (min-width: 0) {
  .navbar {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .navbar {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .navbar {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .navbar {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .navbar {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  .navbar {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
.navbar .logo {
  font-family: "Alfa Slab One", cursive;
  font-weight: 600;
  font-size: 36px;
  margin-right: auto;
}
.navbar .logo a {
  color: #1e1e1e;
}
.navbar .inactive {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.navbar .links {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  background-color: #11f2ff;
  padding: 10px;
  z-index: 4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar .links ul {
  padding: 20px 0;
}
.navbar .links li {
  padding: 10px 60px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar .links li:hover {
  background-color: #00d1dd;
}
.navbar .links a {
  color: #1e1e1e;
  font-family: "Alfa Slab One", cursive;
}
@media (min-width: 992px) {
  .navbar .links {
    position: relative;
    background: transparent;
    padding: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .navbar .links .icon-close {
    display: none;
  }
  .navbar .links ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar .links li {
    padding: 10px 10px;
  }
}
@media (min-width: 992px) {
  .navbar .icon-menu {
    display: none;
  }
}

main {
  width: 100%;
  color: white;
  position: relative;
  overflow: hidden;
}
main h2 {
  font-family: "Alfa Slab One", cursive;
  position: absolute;
  bottom: -30%;
  left: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  font-size: 26vw;
}

.main-section {
  position: relative;
}
@media (min-width: 0) {
  .main-section {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .main-section {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .main-section {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .main-section {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .main-section {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  .main-section {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
.main-section .main-left-arrow {
  position: absolute;
  top: 20px;
  right: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  width: 10%;
}
.main-section .main-right-arrow {
  position: absolute;
  top: 20px;
  left: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  width: 10%;
}
.main-section .main-photos {
  position: relative;
}
.main-section .main-photos img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  position: absolute;
}
.main-section .main-photos .active-photo {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: relative;
}
.main-section .main-content {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.main-section .main-content h1 {
  text-align: center;
  font-size: 1.2rem;
}
@media (min-width: 576px) {
  .main-section .main-content h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .main-section .main-content h1 {
    font-size: 2rem;
  }
}
.main-section .main-content h1 span {
  background-color: #ff3e3e;
  padding: 0 6px;
  position: relative;
}
.main-section .main-content h1 span::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -5px;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  width: 5px;
  height: 5px;
  background-color: #ff3e3e;
  border-radius: 50%;
}
.main-section .main-content .btn {
  margin-top: 20px;
}
.main-section .main-content .btn button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  text-align: center;
  background-color: white;
  color: #1e1e1e;
  border: 0 solid;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.6rem;
  margin: 0 auto;
}
.main-section .main-content .btn button:hover {
  background-color: #ff3e3e;
  color: white;
  outline: 0;
}
@media (min-width: 768px) {
  .main-section .main-content .btn button {
    padding: 5px 10px;
    font-size: 1rem;
  }
}
.main-section .main-content .three-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 10px auto 0;
  width: 20%;
}
.main-section .main-content .three-dots .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #11f2ff;
}
@media (min-width: 992px) {
  .main-section .main-content .three-dots .dot {
    width: 8px;
    height: 8px;
    margin-top: 20px;
  }
}
.main-section .main-content .three-dots .active-dot {
  background-color: #ff3e3e;
}

.date-section {
  width: 100%;
  background-color: #11f2ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.date-section .left-white-strips {
  position: absolute;
  top: 50%;
  left: -4vw;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
  width: 10%;
}
.date-section .right-white-strips {
  width: 10%;
  position: absolute;
  top: 50%;
  right: -4vw;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}
.date-section .date-content {
  text-align: center;
  font-family: "Alfa Slab One", cursive;
}
.date-section .date-content h3 {
  color: white;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-top: 10px;
}
.date-section .date-content .p {
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.date-section .date-content .p p {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .date-section .date-content .p p {
    font-size: 2.5rem;
  }
}
.date-section .date-content .p span {
  font-size: 2.5rem;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .date-section .date-content .p span {
    font-size: 5rem;
  }
}

.ball-section {
  position: relative;
  width: 100%;
  padding: 50px 0;
}
.ball-section .left-strips-ball {
  width: 10%;
  position: absolute;
  top: 30px;
  left: -4vw;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}
.ball-section .right-strips-ball {
  width: 10%;
  position: absolute;
  right: -4vw;
  bottom: 30px;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}
.ball-section .ball-container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  -ms-grid-columns: calc((100% + 15px) / 1 - 15px);
  grid-template-columns: repeat(1, calc((100% + 15px) / 1 - 15px));
}
.ball-section .ball-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
@media (min-width: 0) {
  .ball-section .ball-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .ball-section .ball-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .ball-section .ball-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .ball-section .ball-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .ball-section .ball-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  .ball-section .ball-container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .ball-section .ball-container {
    -ms-grid-columns: calc((100% + 15px) / 2 - 15px) 15px calc((100% + 15px) / 2 - 15px);
    grid-template-columns: repeat(2, calc((100% + 15px) / 2 - 15px));
    display: -ms-grid;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
  .ball-section .ball-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .ball-section .ball-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
.ball-section .ball-container .photo-part {
  position: relative;
}
.ball-section .ball-container .photo-part img {
  display: block;
  width: 100%;
  height: auto;
}
.ball-section .ball-container .photo-part .show-img {
  position: absolute;
  top: 0;
  left: -10%;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}
@media (min-width: 576px) {
  .ball-section .ball-container .photo-part .show-img {
    position: absolute;
    top: 0;
    left: -20%;
    -webkit-transform: translateX() translateY();
            transform: translateX() translateY();
  }
}
.ball-section .ball-container .photo-part .hidden-img {
  visibility: hidden;
}
.ball-section .ball-container .content-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ball-section .ball-container .content-part .cont {
  margin: 20px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 992px) {
  .ball-section .ball-container .content-part .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.ball-section .ball-container .content-part h3 {
  font-family: "Alfa Slab One", cursive;
  font-size: 1.5rem;
  color: #11f2ff;
  margin-bottom: 15px;
}
.ball-section .ball-container .content-part p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: white;
  opacity: 1;
  text-align: center;
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .ball-section .ball-container .content-part p {
    text-align: start;
    word-break: break-all;
  }
}
.ball-section .ball-container .content-part button {
  display: block;
  text-align: center;
  background-color: #11f2ff;
  color: #1e1e1e;
  border: 0 solid;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ball-section .ball-container .content-part button:hover {
  background-color: #ff3e3e;
  color: white;
  outline: 0;
}
.ball-section .ball-container .content-part .right-arrow-ball {
  position: absolute;
  top: -40px;
  right: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  width: 15%;
}
.ball-section .ball-container .content-part .left-arrow-ball {
  width: 15%;
  position: absolute;
  bottom: -40px;
  left: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}
@media (min-width: 992px) {
  .ball-section .ball-container .content-part .left-arrow-ball {
    position: absolute;
    bottom: -50px;
    left: -5vw;
    -webkit-transform: translateX() translateY();
            transform: translateX() translateY();
  }
}

.two-players-section {
  width: 100%;
  padding: 80px 0;
}
.two-players-section .two-players-container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  -ms-grid-columns: calc((100% + 15px) / 1 - 15px);
  grid-template-columns: repeat(1, calc((100% + 15px) / 1 - 15px));
}
.two-players-section .two-players-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
@media (min-width: 0) {
  .two-players-section .two-players-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .two-players-section .two-players-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .two-players-section .two-players-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .two-players-section .two-players-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .two-players-section .two-players-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  .two-players-section .two-players-container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .two-players-section .two-players-container {
    -ms-grid-columns: calc((100% + 15px) / 2 - 15px) 15px calc((100% + 15px) / 2 - 15px);
    grid-template-columns: repeat(2, calc((100% + 15px) / 2 - 15px));
    display: -ms-grid;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
  .two-players-section .two-players-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .two-players-section .two-players-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
.two-players-section .cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .two-players-section .cont {
    margin-top: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.two-players-section .left-arrow-two-playes {
  width: 15%;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}
.two-players-section .right-arrow-two-players {
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}
.two-players-section .content-part {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 992px) {
  .two-players-section .content-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.two-players-section .content-part h3 {
  font-family: "Alfa Slab One", cursive;
  font-size: 1.5rem;
  color: #11f2ff;
  margin-bottom: 15px;
}
.two-players-section .content-part p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: white;
  opacity: 1;
  text-align: center;
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .two-players-section .content-part p {
    text-align: start;
    word-break: break-all;
  }
}
.two-players-section .content-part button {
  display: block;
  text-align: center;
  background-color: #11f2ff;
  color: #1e1e1e;
  border: 0 solid;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.two-players-section .content-part button:hover {
  background-color: #ff3e3e;
  color: white;
  outline: 0;
}
.two-players-section .photo-part {
  position: relative;
}
.two-players-section .photo-part img {
  display: block;
  width: 100%;
  height: auto;
}
.two-players-section .photo-part::after {
  content: "";
  width: 110%;
  height: 80%;
  position: absolute;
  right: -17vw;
  bottom: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  background-color: #11f2ff;
  z-index: -1;
}
@media (min-width: 992px) {
  .two-players-section .photo-part::after {
    position: absolute;
    right: -12vw;
    bottom: 0;
    -webkit-transform: translateX() translateY();
            transform: translateX() translateY();
    width: 120%;
    height: 80%;
  }
}
.two-players-section .photo-part .two-players-strips {
  width: 15%;
  z-index: -2;
  position: absolute;
  top: 30%;
  left: 2%;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}

.both-section {
  width: 100%;
  padding: 50px 0;
}
.both-section .both-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (min-width: 0) {
  .both-section .both-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .both-section .both-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .both-section .both-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .both-section .both-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .both-section .both-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  .both-section .both-container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
.both-section .cont {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 30px 0;
}
@media (min-width: 992px) {
  .both-section .cont {
    margin: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.both-section .cont .top-arrow-both-section {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  width: 15%;
}
@media (max-width: 992px) {
  .both-section .cont .top-arrow-both-section {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.both-section .cont .bottom-arrow-both-section {
  position: absolute;
  right: -12vw;
  bottom: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  width: 15%;
}
@media (max-width: 992px) {
  .both-section .cont .bottom-arrow-both-section {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    bottom: -4vw;
  }
}
.both-section .content-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
@media (min-width: 992px) {
  .both-section .content-part {
    padding: 0 25%;
  }
}
.both-section .content-part h3 {
  font-family: "Alfa Slab One", cursive;
  font-size: 1.5rem;
  color: #11f2ff;
  margin-bottom: 15px;
}
.both-section .content-part p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: white;
  opacity: 1;
  text-align: center;
}
.both-section .photo-part {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  -ms-grid-columns: calc((100% + 15px) / 1 - 15px);
  grid-template-columns: repeat(1, calc((100% + 15px) / 1 - 15px));
  padding: 20px 0;
  margin-top: -50px;
}
.both-section .photo-part > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
@media (min-width: 992px) {
  .both-section .photo-part {
    -ms-grid-columns: calc((100% + 15px) / 2 - 15px) 15px calc((100% + 15px) / 2 - 15px);
    grid-template-columns: repeat(2, calc((100% + 15px) / 2 - 15px));
    display: -ms-grid;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    justify-items: stretch;
  }
  .both-section .photo-part > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .both-section .photo-part > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media (min-width: 992px) {
  .both-section .photo-part {
    margin-top: 0;
  }
}
.both-section .photo-part img {
  display: block;
  width: 100%;
  height: auto;
}
.both-section .photo-part .player-one, .both-section .photo-part .player-two {
  margin: 0 5vw;
  position: relative;
}
.both-section .photo-part .player-one::after, .both-section .photo-part .player-two::after {
  content: "";
  width: 100%;
  height: 80%;
  background-color: #11f2ff;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  z-index: -1;
}
.both-section .photo-part .player-one .blue-strips-player-one, .both-section .photo-part .player-two .blue-strips-player-one {
  width: 20%;
  position: absolute;
  top: 30%;
  left: -4vw;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}
.both-section .photo-part .player-two .blue-strips-player-two {
  width: 20%;
  position: absolute;
  right: -4vw;
  bottom: 10%;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}

.blue-section {
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.blue-section .blue-container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  -ms-grid-columns: calc((100% + 15px) / 1 - 15px);
  grid-template-columns: repeat(1, calc((100% + 15px) / 1 - 15px));
}
.blue-section .blue-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
@media (min-width: 0) {
  .blue-section .blue-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .blue-section .blue-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .blue-section .blue-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .blue-section .blue-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .blue-section .blue-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  .blue-section .blue-container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .blue-section .blue-container {
    -ms-grid-columns: calc((100% + 15px) / 2 - 15px) 15px calc((100% + 15px) / 2 - 15px);
    grid-template-columns: repeat(2, calc((100% + 15px) / 2 - 15px));
    display: -ms-grid;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
  .blue-section .blue-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .blue-section .blue-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
.blue-section .photo-part {
  position: relative;
}
.blue-section .photo-part img {
  display: block;
  width: 100%;
  height: auto;
}
.blue-section .photo-part .visible {
  position: absolute;
  bottom: 0;
  left: -15vw;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}
@media (min-width: 992px) {
  .blue-section .photo-part .visible {
    left: -10vw;
  }
}
.blue-section .photo-part .hide {
  visibility: hidden;
}
.blue-section .photo-part::after {
  content: "";
  width: 200vw;
  height: 60%;
  background-color: #11f2ff;
  position: absolute;
  bottom: 0;
  left: -20vw;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  z-index: -1;
}
.blue-section .photo-part .blue-strips-blue-section {
  width: 20%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 35%;
  right: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}
.blue-section .content-part {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px 0;
}
@media (min-width: 992px) {
  .blue-section .content-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.blue-section .content-part .right-arrow-blue-section {
  width: 15%;
  position: absolute;
  right: 0;
  bottom: 5%;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
}
@media (max-width: 992px) {
  .blue-section .content-part .right-arrow-blue-section {
    bottom: 0;
  }
}
.blue-section .content-part h3 {
  font-family: "Alfa Slab One", cursive;
  font-size: 1.5rem;
  color: #11f2ff;
  margin-bottom: 15px;
  color: white;
  letter-spacing: 0.5rem;
  text-align: center;
}
@media (min-width: 992px) {
  .blue-section .content-part h3 {
    margin-bottom: auto;
    margin-top: 50px;
    text-align: start;
  }
}
.blue-section .content-part p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: white;
  opacity: 1;
  text-align: center;
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .blue-section .content-part p {
    text-align: start;
    word-break: break-all;
  }
}
@media (min-width: 992px) {
  .blue-section .content-part p {
    color: #1e1e1e;
  }
}
.blue-section .content-part button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  text-align: center;
  background-color: white;
  color: #1e1e1e;
  border: 0 solid;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.6rem;
  font-size: 1rem;
}
.blue-section .content-part button:hover {
  background-color: #ff3e3e;
  color: white;
  outline: 0;
}
@media (min-width: 992px) {
  .blue-section .content-part button {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .blue-section .content-part button {
    margin-bottom: 50px;
  }
}

.stream-section {
  width: 100%;
  padding: 50px 0;
  margin-top: 0;
}
@media (min-width: 768px) {
  .stream-section {
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .stream-section {
    margin-top: 100px;
  }
}
.stream-section .stream-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 0) {
  .stream-section .stream-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .stream-section .stream-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .stream-section .stream-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .stream-section .stream-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .stream-section .stream-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  .stream-section .stream-container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
.stream-section .head {
  position: absolute;
  top: -5vw;
  left: 0;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  font-size: 1.5rem;
  color: white;
  padding: 0 10px;
  z-index: 2;
}
@media (min-width: 576px) {
  .stream-section .head {
    padding: 0;
  }
}
.stream-section .head .bold {
  font-weight: 700;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 0.2rem;
}
.stream-section .head .red {
  background-color: #ff3e3e;
  padding: 0 6px;
  position: relative;
}
.stream-section .head .red::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -5px;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  width: 5px;
  height: 5px;
  background-color: #ff3e3e;
  border-radius: 50%;
}
.stream-section .video {
  padding: 10px;
}
.stream-section .video video {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}
.stream-section .video .left-border {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 7px;
  left: 7px;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  border-left: 10px solid #11f2ff;
}
.stream-section .video .bottom-border {
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 7px;
  left: 7px;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  border-bottom: 10px solid #11f2ff;
}
.stream-section .video .right-border {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 7px;
  right: 7px;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  border-right: 10px solid #11f2ff;
}
.stream-section .video .top-border {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 7px;
  right: 7px;
  -webkit-transform: translateX() translateY();
          transform: translateX() translateY();
  border-top: 10px solid #11f2ff;
}

.post-section {
  width: 100%;
  position: relative;
  padding: 50px 0;
}
.post-section .header {
  margin-top: 0px;
  text-align: center;
  color: white;
  position: relative;
  margin-bottom: 50px;
}
@media (min-width: 576px) {
  .post-section .header {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
.post-section .header h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 0.5vw;
}
.post-section .header .right-strips-post-section {
  position: absolute;
  top: 50%;
  right: -4vw;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
  width: 10%;
}
.post-section .header .left-strips-post-section {
  position: absolute;
  top: 50%;
  left: -4vw;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
  width: 10%;
}
.post-section .posts {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  -ms-grid-columns: calc((100% + 15px) / 1 - 15px);
  grid-template-columns: repeat(1, calc((100% + 15px) / 1 - 15px));
  padding: 0 10px;
}
.post-section .posts > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
@media (min-width: 0) {
  .post-section .posts {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .post-section .posts {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .post-section .posts {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .post-section .posts {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .post-section .posts {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  .post-section .posts {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .post-section .posts {
    -ms-grid-columns: calc((100% + 5vw) / 3 - 5vw) 5vw calc((100% + 5vw) / 3 - 5vw) 5vw calc((100% + 5vw) / 3 - 5vw);
    grid-template-columns: repeat(3, calc((100% + 5vw) / 3 - 5vw));
    display: -ms-grid;
    display: grid;
    grid-column-gap: 5vw;
    grid-row-gap: 15px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
  .post-section .posts > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .post-section .posts > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .post-section .posts > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
}
.post-section .posts .card {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: white;
}
.post-section .posts .card .img {
  position: relative;
  background-color: #11f2ff;
}
.post-section .posts .card .img img {
  display: block;
  width: 100%;
  height: auto;
}
.post-section .posts .card .content {
  padding: 20px;
  text-align: center;
}
.post-section .posts .card .content h5 {
  font-size: 1rem;
  font-family: "Alfa Slab One", cursive;
  margin-bottom: 20px;
}
.post-section .posts .card .content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: white;
  opacity: 1;
  text-align: center;
  margin-bottom: 35px;
  color: #1e1e1e;
}
@media (min-width: 992px) {
  .post-section .posts .card .content p {
    text-align: start;
    word-break: break-all;
  }
}
@media (min-width: 992px) {
  .post-section .posts .card .content p {
    text-align: center;
  }
}
.post-section .posts .card .content button {
  display: block;
  text-align: center;
  background-color: #11f2ff;
  color: #1e1e1e;
  border: 0 solid;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: auto;
}
.post-section .posts .card .content button:hover {
  background-color: #ff3e3e;
  color: white;
  outline: 0;
}
.post-section .bottom-arrow-post-section {
  width: 10%;
  margin: 50px auto 0px;
}
@media (min-width: 576px) {
  .post-section .bottom-arrow-post-section {
    margin: 100px auto 0px;
  }
}
/*# sourceMappingURL=main.css.map */