:root{
    font-size: calc( 0.5em + 1vw);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

