//close icon
.icon-close{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: auto;
    padding: 10px;
    .strip-one{
        width: 100%;
        height: 3px;
        background-color: $black-color;
        position: relative;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        &::after{
            content: "";
            width: 100%;
            height: 3px;
            background-color: $black-color;
            @include absolute(0,0,null,null,null,null);
            transform: rotate(90deg);
        }
    }
}
//menu button
.icon-menu{
    width: 35px;
    height: 30px;
    @include flex(column,space-between,center);
    position: relative;
    cursor: pointer;
    .strip-first,.strip-middle,.strip-second{
        width: 100%;
        height: 3px;
        background-color: $black-color;
        border-radius: 3px;
    }
}