@use "mixins" as *;

$head-font:'Alfa Slab One', cursive;

$main-color:#11f2ff;
$red-color:#ff3e3e;
$black-color:#1e1e1e;

@mixin h3 {
    font-family: $head-font;
                font-size: 1.5rem;
                color: $main-color;
                margin-bottom: 15px;
}

@mixin p {
    @include paragrapgh(1rem,400,2,white,);
    text-align: center;
    margin-bottom: 35px;
    @include media-min(lg){
        text-align: start;
        word-break: break-all;
    }
}

@mixin btn{
    @include button-frame($main-color,$black-color,0,null,null);
    @include button-size(10px,5px,);
    @include button-hover($red-color,white,null);
    @include one-transition(0.3s);
}