@use "basics" as *;
@use "variables" as *;
@use "mixins" as *;
@import "fixed-parts";

body{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    overflow-x: hidden;
}
img{
    @include img-responsive;
}
//start navbar
.nav{
    @include container-full;
    @include sticky(0,0,null,null);
    z-index: 1;
}
.navbar{
    @include container-all;
    background-color: $main-color;
    @include flex(row,null,center,);
    padding: 5px;
    .logo{
        font-family: $head-font;
        font-weight: 600;
        font-size: 36px;
        margin-right: auto;
        a{
            color:$black-color;
        }
    }
    .inactive{
        transform: translateX(200%);
    }
    .links{
        @include absolute(0,0,null,null,null,null);
        background-color: $main-color;
        padding: 10px ;
        z-index: 2;
        @include one-transition(0.3s,);
        ul{
            padding: 20px 0;
        }
        li{
            padding: 10px 60px;
            background-color: transparent;
            @include one-transition(0.3s,);
            &:hover{
                background-color: darken($main-color,10%);
            }
        }
        a{
            color: $black-color;
            font-family: $head-font;
        }
        @include media-min(lg){
            position: relative;
            background: transparent;
            padding: 0;
            transform: translateY(0);
            .icon-close{
                display: none;
            }
            ul{
                padding: 0;
                @include flex(row,null,center);
            }
            li{
                padding: 10px 10px;
            }
        }
    }
    @include media-min(lg){
        .icon-menu{
            display: none;
        }
    }
}
//end navbar

//start main section
main{
    @include container-full;
    color: white;
    position: relative;
    overflow: hidden;
    h2{
        font-family: $head-font;
        @include absolute(null,null,-30%,0,null,null);
        font-size: 26vw;
    }
}
.main-section{
    @include container-all;
    position: relative;
    .main-left-arrow{
        @include absolute(20px,0,null,null,null,null);
        width: 10%;
    }
    .main-right-arrow{
        @include absolute(20px,null,null,0,null,null);
        width: 10%;
    }
    .main-photos{
        position: relative;
        img{
            @include one-transition(0.4s,);
            transform: translateX(200%);
            position: absolute;
        }
        .active-photo{
            transform: translateX(0);
            position: relative;
        }
    }
    .main-content{
        @include absolute(30%,null,null,50%,-50%,-50%);
        h1{
            text-align: center;
            font-size: 1.2rem;
            @include media-min(sm){
                font-size: 1.5rem;
            }
            @include media-min(lg){
                font-size: 2rem;
            }
            span{
                @include stram-red-dot;
            }
        }
        .btn{
            margin-top: 20px;
            button{
               @include btn-white;
                margin:0 auto;
                @include media-min(md){
                    @include button-size(10px,5px,1rem)
                }
            }
        }
        .three-dots{
            @include flex(row,space-between,center);
            margin: 10px auto 0;
            width: 20%;
            .dot{
                width: 5px;
                height: 5px;
                border-radius: 50%;
                cursor: pointer;
                background-color: $main-color;
                @include media-min(lg){
                    width: 8px;
                    height: 8px;
                    margin-top: 20px;
                }
            }
            .active-dot{
                background-color: $red-color;
            }
        }
    }
}
//end main section

//start date section
.date-section{
    @include container-full;
    background-color: $main-color;
    @include flex-center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    .left-white-strips{
        @include absolute(50%,null,null,-4vw,0,-50%);
        width: 10%;
    }
    .right-white-strips{
        width: 10%;
        @include absolute(50%,-4vw,null,null,0,-50%);
    }
    .date-content{
        text-align: center;
        font-family: $head-font;
        h3{
            color: white;
            text-transform: capitalize;
            font-size: 1.5rem;
            margin-top: 10px;
        }
        .p{
            font-weight: 900;
            @include flex-center;
            p{
                font-size: 1.5rem;
                @include media-min(md){
                    font-size: 2.5rem;
                }
            }
            span{
                font-size: 2.5rem;
                padding: 0 20px;
                @include media-min(md){
                    font-size: 5rem;
                }
            }
        }
    }

}
//end date section

//start ball in hand section
.ball-section{
    position: relative;
    @include container-full;
    padding: 50px 0;
    .left-strips-ball{
        width: 10%;
        @include absolute(30px,null,null,-4vw,null,null);
    }
    .right-strips-ball{
        width: 10%;
        @include absolute(null,-4vw,30px,null,null,null);
    }
    .ball-container{
        @include container-all;
        @include grid();
        @include grid(lg,2,);
        .photo-part{
            position: relative;
            img{
                @include img-responsive;
            }
            .show-img{
                @include absolute(0,null,null,-10%,null,null);
                @include media-min(sm){
                    @include absolute(0,null,null,-20%,null,null);
                }
            }
            .hidden-img{
                visibility: hidden;
            }
        }
        .content-part{
            @include flex-center;
            .cont{
                margin: 20px 0;
                position: relative;
                @include flex-center(column);
                @include media-min(lg){
                    @include flex(column,null,start);
                }
            }
            h3{
                @include h3;
            }
            p{
                @include p ;
            }
            button{
                @include btn;
            }
            .right-arrow-ball{
                @include absolute(-40px,0,null,null,null,null);
                width: 15%;
            }
            .left-arrow-ball{
                width: 15%;
                @include absolute(null,null,-40px,0,null,null);
                @include media-min(lg){
                    @include absolute(null,null,-50px,-5vw,null,null);
                }
            }
        }
    }
}
//end ball in hand section

//start 2players section
.two-players-section{
    @include container-full;
    padding: 80px 0;
    .two-players-container{
        @include container-all;
        @include grid();
        @include grid(lg,2);
    }
    .cont{
        position: relative;
        @include flex-center;
        order: 2;
        margin-top: 40px;
        @include media-min(lg){
            margin-top: 0;
            order: 0;
        }
    }
    .left-arrow-two-playes{
        width: 15%;
        @include absolute(null,0,0,null,null,null);
    }
    .right-arrow-two-players{
        width: 15%;
        @include absolute(0,null,null,0,null,null);
    }
    .content-part{
        padding: 0 20px;
        @include flex-center(column);
        @include media-min(lg){
            @include flex(column,null,start);
        }
        h3{
            @include h3;
        }
        p{
            @include p ;
        }
        button{
            @include btn;
        }
    }
    .photo-part{
        position: relative;
        img{
            @include img-responsive;
        }
        &::after{
            content: "";
            width: 110%;
            height: 80%;
            @include absolute(null,-17vw,0,null,null,null);
            @include media-min(lg){
                @include absolute(null,-12vw,0,null,null,null);
                width: 120%;
                height: 80%;
            }
            background-color: $main-color;
            z-index: -1;
        }
        .two-players-strips{
            width: 15%;
            z-index: -2;
            @include absolute(30%,null,null,2%,null,null)
        }
    }

}
//end 2players section

//start both section
.both-section{
    @include container-full;
    padding: 50px 0;
    .both-container{
        @include container-all;
        @include flex(column,null,null);
    }
    .cont{
        position: relative;
        order: 2;
        margin: 30px 0;
        @include media-min(lg){
            margin: 0;
            order: 0;
        }
        .top-arrow-both-section{
            @include absolute(0,null,null,0,null,null);
            transform: rotate(90deg);
            transform-origin: 0;
            width: 15%;
            @include media-max(lg){
                transform: rotate(0);
            }
        }
        .bottom-arrow-both-section{
            @include absolute(null,-12vw,0,null,null,null);
            transform: rotate(270deg);
            transform-origin: 0;
            width: 15%;
            @include media-max(lg){
                transform: rotate(180deg);
                bottom: -4vw;
            }
        }
    }
    .content-part{
        @include flex-center(column);
        padding: 0;
        @include media-min(lg){
            padding: 0 25%;
        }
        h3{
            @include h3;
        }
        p{
            @include paragrapgh(1rem,400,2,white,);
            text-align: center;
        }
    }
    .photo-part{
        @include grid();
        @include grid(lg,2,15px,15px,end,);
        padding: 20px 0;
        margin-top: -50px;
        @include media-min(lg){
            margin-top: 0;
        }
        img{
            @include img-responsive;
        }
        .player-one{
            margin: 0 5vw;
            position: relative;
            &::after{
                content: "";
                width: 100%;
                height: 80%;
                background-color: $main-color;
                @include absolute(null,null,0,null,null,null);
                z-index: -1;
            }
            .blue-strips-player-one{
                width: 20%;
                @include absolute(30%,null,null,-4vw,null,null);
            }
        }
        .player-two{
            @extend .player-one;
            .blue-strips-player-two{
                width: 20%;
                @include absolute(null,-4vw,10%,null,null,null);
            }
        }
    }
}
//end both section

//start blue section
.blue-section{
    @include container-full;
    padding: 50px 0;
    overflow: hidden;
    .blue-container{
        @include container-all;
        @include grid();
        @include grid(lg,2,)
    }
    .photo-part{
        position: relative;
        img{
            @include img-responsive;
        }
        .visible{
            @include absolute(null,null,0,-15vw,null,null);
            @include media-min(lg){
                left: -10vw;
            }
        }
        .hide{
            visibility: hidden;
        }
        &::after{
            content: "";
            width:200vw ;
            height: 60%;
            background-color: $main-color;
            @include absolute(null,null,0,-20vw,null,null);
            z-index: -1;
        }
        .blue-strips-blue-section{
            width: 20%;
            transform: rotate(90deg);
            @include absolute(35%,0,null,null,null,null);
        }
    }
    .content-part{
        height: 100%;
        position: relative;
        @include flex(column,null,center);
        @include media-min(lg){
            @include flex(column,null,start);
        }
        padding: 20px 0;
        .right-arrow-blue-section{
            width: 15%;
            @include absolute(null,0,5%,null,null,null);
            @include media-max(lg){
                bottom: 0;
            }
        }
        h3{
            @include h3;
            color: white;
            letter-spacing: 0.5rem;
            text-align: center;
            @include media-min(lg){
                margin-bottom: auto;
                margin-top: 50px;
                text-align: start;
            }
        }
        p{
            @include p;
            @include media-min(lg){
                color: $black-color;
            }
        }
        button{
            @include btn-white;
            font-size: 1rem;
            @include media-min(lg){
                margin-bottom: 25px;
            }
            @include media-min(xl){
                margin-bottom: 50px;
            }
        }
    }
}
//end blue section

//start stream section
.stream-section{
    @include container-full;
    padding: 50px 0;
    margin-top: 0;
    @include media-min(md){
        margin-top: 50px
    }
    @include media-min(lg){
        margin-top: 100px
    }
    .stream-container{
        @include container-all;
        @include flex-center;
        position: relative;
    }
    .head{
        @include absolute(-5vw,null,null,0,null,null);
        font-size: 1.5rem;
        color: white;
        padding: 0 10px;
        z-index: 2;
        @include media-min(sm){
            padding: 0;
        }
        .bold{
            font-weight: 700;
            font-family: $head-font;
            letter-spacing: 0.2rem
        }
        .red{
            @include stram-red-dot;
        }
    }
    .video{
        padding: 10px;
        video{
            width: 100%;
            height: 100%;
            margin: auto;
            position: relative;
        }
        .left-border{
            width: 100%;
            height: 50%;
            @include absolute(null,null,7px,7px,null,null);
            border-left:10px solid $main-color;
        }
        .bottom-border{
            width: 50%;
            height: 100%;
            @include absolute(null,null,7px,7px,null,null);
            border-bottom: 10px solid $main-color;
        }
        .right-border{
            width: 100%;
            height: 50%;
            @include absolute(7px,7px,null,null,null,null);
            border-right: 10px solid $main-color;
        }
        .top-border{
            width: 50%;
            height: 100%;
            @include absolute(7px,7px,null,null,null,null);
            border-top: 10px solid $main-color;
        }
    }
}
//end stream section

//start posts section

//end posts section