@use "basics" as *;
@use "variables" as *;
@use "mixins" as *;
@import "fixed-parts";

body{
    overflow: hidden;
}
//start navbar
.nav{
    @include container-full;
    @include sticky(0,0,null,null);
}
.navbar{
    @include container-all;
    background-color: $main-color;
    @include flex(row,null,center,);
    padding: 10px;
    .logo{
        font-family: $head-font;
        font-weight: 600;
        font-size: 36px;
        margin-right: auto;
        a{
            color:$black-color;
        }
    }
    .inactive{
        transform: translateX(200%);
    }
    .links{
        @include absolute(0,0,null,null,null,null);
        background-color: $main-color;
        padding: 10px ;
        z-index: 2;
        @include one-transition(0.3s,);
        ul{
            padding: 20px 0;
        }
        li{
            padding: 10px 60px;
            background-color: transparent;
            @include one-transition(0.3s,);
            &:hover{
                background-color: darken($main-color,10%);
            }
        }
        a{
            color: $black-color;
            font-family: $head-font;
        }
        @include media-min(lg){
            position: relative;
            background: transparent;
            padding: 0;
            transform: translateY(0);
            .icon-close{
                display: none;
            }
            ul{
                padding: 0;
                @include flex(row,null,center);
            }
            li{
                padding: 10px 10px;
            }
        }
    }
    @include media-min(lg){
        .icon-menu{
            display: none;
        }
    }
}

//end navbar